<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5><%= action_name.humanize %>&nbsp;<%= yield(:current_page).singularize %></h5>
				<div class="ibox-tools">
					<%= link_to 'Back', users_path %>
				</div>
			</div>
			<div class="ibox-content">

				<%= simple_form_for(@user) do |f| %>
				<%= f.error_notification %>

				<div class="form-inputs">
					<%= f.input :name, required: true %>

					<div class="hr-line-dashed"></div>


					<%= f.input :email, required: true %>

					<div class="hr-line-dashed"></div>


					<%= f.input :phone, required: true %>

					<div class="hr-line-dashed"></div>


					<%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>

					<div class="hr-line-dashed"></div>


					<%= f.input :password_confirmation, required: true %>

					<div class="hr-line-dashed"></div>


					<%= f.input :admin, label: "Is Admin?" %>

					<div class="hr-line-dashed"></div>
				</div>

				<div class="form-actions">
					<%= f.button :submit %>
				</div>						

			</div>					

			<% end %>

		</div>

	</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


	$(function() {

		$(".simple_form").validate({
			errorPlacement: function (error, element) {
				element.before(error);
			}
		});

	});

</script>

<% end %>