
<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-b-md">
          <%= link_to 'Back', events_path, class:"btn btn-white btn-xs pull-right" %>
          <h2><%= @event.event_title %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2" id="event_info">
        <%= render 'event_info' %>
      </div>
      <div id="contact_info">
        <%= render 'customers/contact_info', customer: @event.customer %>
      </div>
    </div>

    <div class="row m-t-sm">
      <div class="col-lg-12">
        <div class="panel blank-panel">
          <div class="panel-heading">
            <div class="panel-options">
              <ul class="nav nav-tabs">
                <li class="even-tab"><a aria-expanded="true" href="#tab-event" data-toggle="tab">Event Deatils</a></li>
                <li class="menu-tab"><a aria-expanded="false" href="#tab-menu" data-toggle="tab">Menu</a></li>
              </ul>
            </div>
          </div>

          <div class="panel-body">

          <div class="tab-content" id="main-tab">
              <div class="tab-pane active" id="tab-event">
                <%= simple_form_for(@event, remote: true, :html => { :role => "form"}) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">

                  <div class="row">
                    <div class="col-lg-6">
                      <%= f.input :event_title %>
                      <div class="hr-line-dashed"></div>
                      <%= f.input :event_date, as: :string, input_html: { class: "form-control datepicker", value: Time.now.strftime('%d/%m/%Y') }  %>
                      <div class="hr-line-dashed"></div>
                      <%= f.input :covers %>
                      <div class="hr-line-dashed"></div>
                      <%= f.input :vegetarian %>
                      <div class="hr-line-dashed"></div>
                      <%= f.input :coeliac %>
                      <div class="hr-line-dashed"></div>
                      <%= f.input :sugar_free %>
                      <div class="hr-line-dashed"></div>
                      <%= f.input :allergies %>
                      <div class="hr-line-dashed"></div>
                    </div>
                    <div class="col-lg-6">
                      <%= f.input :venue, :input_html => { :rows => 10 }%>
                      <div class="hr-line-dashed"></div>
                      <%= f.input :event_details, :input_html => { :rows => 10 } %>
                      <div class="hr-line-dashed"></div>
                    </div>
                  </div>

                </div>

                <div class="form-actions">
                  <%= f.button :submit %>
                </div>
                <% end %>
              </div>
              <div class="tab-pane" id="tab-menu">
                
                
                <% 
                # check if we already have a menu
                if @event_menu.blank?

                # display standard to start with
                %>
                <%= simple_form_for(:menus, remote: true, :url => {:action => :load_menu}, :html => { :role => "form",  class: "form-inline"}) do |f| %>
                <div class="form-group">
                  <select class="select2 form-control required" name="menu[id]" id="standard_menu">
                    <option></option>
                    <% @menus.each do |menu| %>
                    <option value="<%= menu.id %>"><%= menu.name %></option>
                    <% end %>
                  </select>

                </div>
                
                <input type="hidden" name="menu[action]" id="menu_action" value="view">
                <button class="btn btn-default c_action" type="submit">View</button>
                <button class="btn btn-info c_action" type="submit">Copy</button>
                <div class="hr-line-dashed"></div>
                <% end %>

                <div id="menu_ajax_load"></div>
                <% else %>
                <div id="menu_ajax_load">
                  
                  <%= render "event_menu" %>

                </div>
                copy to standard with option to change its name
                show menu for this event
                add remove dishes / specify qty per dish
                manage dishes ingredients
                <% end %>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'dialog' %>

<% content_for :javascript do %>

<script type="text/javascript">


  $(function() {

    $(".simple_form").validate({
      errorPlacement: function (error, element) {
        element.before(error);
      }
    });

    $('.datepicker').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true,
      format: 'dd/mm/yyyy'
    });

    $("#standard_menu").select2({
      placeholder: "Select standard menu",
      allowClear: true
    });

    $(".c_action").click(function(){
      // console.log($(this).text());
      $("#menu_action").val($(this).text());
    })

  });

</script>

<% end %>