<p id="notice"><%= notice %></p>

<p>
  <strong>Short:</strong>
  <%= @unit.short %>
</p>

<p>
  <strong>Long:</strong>
  <%= @unit.long %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
