<div class="row">
	<%= simple_form_for(@supplier, html: { id: "supplier" }) do |f| %>
	<div class="col-lg-7">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5><%= yield(:current_page).singularize %></h5>
				<div class="ibox-tools">
					<%= link_to 'Back', suppliers_path %>
				</div>
			</div>
			<div class="ibox-content">

				
				<%= f.error_notification %>

				<div class="form-inputs">
					<%= f.input :company_name, required: true %>
					<div class="hr-line-dashed"></div>
					<%= f.input :address1, required: true %>
					<div class="hr-line-dashed"></div>
					<%= f.input :address2, required: false %>
					<div class="hr-line-dashed"></div>
					<%= f.input :city, required: true %>
					<div class="hr-line-dashed"></div>
					<%= f.input :county, required: false %>
					<div class="hr-line-dashed"></div>
					<%= f.input :postcode, required: true %>
					<div class="hr-line-dashed"></div>

					<%= f.input :notes, required: false %>

					<div class="hr-line-dashed"></div>

				</div>

									

			</div>					

			

		</div>

	</div>
	
	<div class="col-lg-5">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Supplier Contact</h5>
				<div class="ibox-tools">
				</div>
			</div>
			<div class="ibox-content" id="container_contacts">
				<%= f.fields_for :contact do |a| %>
					<%= a.input :name, required: true %>
					<div class="hr-line-dashed"></div>
					<%= a.input :phone, required: false %>
					<div class="hr-line-dashed"></div>
					<%= a.input :mobile, required: false %>
					<div class="hr-line-dashed"></div>
					<%= a.input :email, required: true %>
					<div class="hr-line-dashed"></div>
				<% end %>

				<div class="form-actions">
					<%= f.button :submit %>
				</div>	

			</div>


		</div>
	</div>
	<% end %>
</div>

<% if params[:action] == 'edit' %>
	<%= render 'dialog' %>
<% end %>

<% content_for :javascript do %>

<script type="text/javascript">


	$(function() {

		$("#supplier").validate({
			errorPlacement: function (error, element) {
				element.before(error);
			}
		});

		$("#contact").validate({
			errorPlacement: function (error, element) {
				element.before(error);
			}
		});

		

	});

</script>

<% end %>