<div class="row">
	<div class="col-lg-7">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5><%= action_name.humanize %>&nbsp;<%= yield(:current_page).singularize %></h5>
				<div class="ibox-tools">
				<%= link_to 'Back', suppliers_path %>
				</div>
			</div>
			<div class="ibox-content">

				<%= simple_form_for(@supplier) do |f| %>
				<%= f.error_notification %>

				<div class="form-inputs">
					<%= f.input :company_name, required: true %>
					<div class="hr-line-dashed"></div>
					<%= f.input :address1, required: true %>
					<div class="hr-line-dashed"></div>
					<%= f.input :address2, required: false %>
					<div class="hr-line-dashed"></div>
					<%= f.input :city, required: true %>
					<div class="hr-line-dashed"></div>
					<%= f.input :county, required: false %>
					<div class="hr-line-dashed"></div>
					<%= f.input :postcode, required: true %>
					<div class="hr-line-dashed"></div>

					<%= f.input :notes, required: false %>

					<div class="hr-line-dashed"></div>

					
					
				</div>

				<div class="form-actions">
					<%= f.button :submit %>
				</div>						

			</div>					

			<% end %>

		</div>

	</div>
	<div class="col-lg-5">
				<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Supplier Contacts</h5>
				<div class="ibox-tools">
				<%= link_to 'Back', suppliers_path %>
				</div>
			</div>
			<div class="ibox-content">
				<% if @supplier.contacts.any? %>
				<%= render @supplier.contacts %>
				<% end %>
			</div>
			</div>
	</div>
</div>

<% content_for :javascript do %>

 <script type="text/javascript">


  $(function() {

    $(".simple_form").validate({
      errorPlacement: function (error, element) {
        element.before(error);
      }
    });

  });

 </script>

 <% end %>