<!DOCTYPE html>
<html>
<head>
	<title>Ushy - Admin</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- Include style per-controller - vendor plugins -->
	<%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="top-navigation">

	<!-- Wrapper-->
	<div id="wrapper">

		<!-- Page wraper -->
		<div id="page-wrapper" class="gray-bg">

			<!-- Navigation -->
			<%= render 'layouts/navigation' %>

			<%= render 'layouts/pagehead' %>
			
			<!-- Content wraper -->
			<div class="wrapper wrapper-content">

				<%= render 'layouts/flash_message' %>
				
				<!-- Main view  -->
				<%= yield %>
				<%= debug(params) if Rails.env.development? %>
			</div>
			<!-- End content wrapper-->

			<!-- Footer -->
			<%= render 'layouts/footer' %>

		</div>
		<!-- End page wrapper-->
		
	</div>
	<!-- End wrapper-->

	<!-- Include javascript per-controller - vendor plugins -->
	<%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

	<%= yield :javascript %>

	<script>
		$('body.canvas-menu .sidebar-collapse').slimScroll({
			height: '100%',
			railOpacity: 0.9
		});
	</script>

</body>
</html>
